:root {
	--clr-neutral-000: hsl(0 4% 98%);
	--clr-neutral-100: hsl(0 4% 95%);
	--clr-neutral-150: hsl(0 4% 92%);
	--clr-neutral-200: hsl(0 4% 82.5%);
	--clr-neutral-300: hsl(0 4% 70%);
	--clr-neutral-400: hsl(0 4% 60%);
	--clr-neutral-500: hsl(0 4% 50%);
	--clr-neutral-600: hsl(0 4% 40%);
	--clr-neutral-700: hsl(0 4% 30%);
	--clr-neutral-800: hsl(0 4% 17.5%);
	--clr-neutral-850: hsl(0 4% 12%);
	--clr-neutral-900: hsl(0 4% 7.5%);
	--clr-neutral-1000: hsl(0 4% 2.5%);

	--clr-blue-400: hsl(208 46% 55%);
	--clr-blue-500: hsl(208 46% 50%);
	--clr-blue-600: hsl(208 46% 40%);

	--clr-green-500: hsl(145 80% 32%);

	--clr-orange-500: hsl(42 98% 50%);

	--clr-red-500: hsl(0 79% 50%);

	--ff-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--fs-200: 0.675rem;
	--fs-300: 0.875rem;
	--fs-400: 1rem;
	--fs-500: 1.25rem;
	--fs-600: 1.5rem;
	--fw-700: 700;

	--size-0: 0.125rem;
	--size-1: 0.375rem;
	--size-2: 0.5rem;
	--size-3: 0.75rem;
	--size-4: 1rem;
	--size-5: 1.25rem;
	--size-6: 1.5rem;
	--size-8: 2rem;

	--container-min-margin-inline: var(--size-4);
	--container-max-width: 64rem;
	--container-max-width-narrow: 40rem;
	--container-max-width-wide: 75rem;

	/* For Light Theme */
	--bg-primary-light: var(--clr-neutral-000);
	--bg-secondary-light: var(--clr-neutral-100);
	--btn-default-light: var(--clr-neutral-700);
	--btn-default-hover-light: var(--clr-neutral-800);
	--btn-primary-light: var(--clr-blue-500);
	--btn-primary-hover-light: var(--clr-blue-600);
	--text-primary-light: var(--clr-neutral-900);
	--svg-hover-light: var(--clr-neutral-100);

	/* For Dark Theme */
	--bg-primary-dark: var(--clr-neutral-1000);
	--bg-secondary-dark: var(--clr-neutral-900);
	--btn-default-dark: var(--clr-neutral-300);
	--btn-default-hover-dark: var(--clr-neutral-200);
	--btn-primary-dark: var(--clr-blue-500);
	--btn-primary-hover-dark: var(--clr-blue-400);
	--text-primary-dark: var(--clr-neutral-100);
	--svg-hover-dark: var(--clr-neutral-800);

	color-scheme: dark;
	--background-primary: light-dark(var(--bg-primary-light), var(--bg-primary-dark));
	--background-secondary: light-dark(var(--bg-secondary-light), var(--bg-secondary-dark));
	--button-default: light-dark(var(--btn-default-light), var(--btn-default-dark));
	--button-default-hover: light-dark(var(--btn-default-hover-light), var(--btn-default-hover-dark));
	--button-primary: light-dark(var(--btn-primary-light), var(--btn-primary-dark));
	--button-primary-hover: light-dark(var(--btn-primary-hover-light), var(--btn-primary-hover-dark));
	--color-primary: light-dark(var(--text-primary-light), var(--text-primary-dark));
	--color-white: light-dark(var(--clr-neutral-000), var(--clr-neutral-000));
	--svg-hover: light-dark(var(--svg-hover-light), var(--svg-hover-dark));
	--color-frm-default: var(--clr-blue-500);
	--color-frm-error: var(--clr-red-500);
	--color-frm-success: var(--clr-green-500);
	--color-frm-med: var(--clr-orange-500);
}

[data-theme="light"] {
	color-scheme: light;
}
[data-theme="dark"] {
	color-scheme: dark;
}

/* RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
img,
picture,
svg {
	display: block;
	max-width: 100%;
}

/* BASE STYLES */
body {
	background: var(--background-primary);
	color: var(--color-primary);
	font-family: var(--ff-primary);
	font-size: var(--fs-400);
	line-height: 1.4;

	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header" "main" "footer";
	min-block-size: 100svh;
}
header {
	grid-area: header;
}
main {
	grid-area: main;
}
footer {
	grid-area: footer;
	margin: 0 auto;
	padding: var(--size-2);
}
h1,
h2 {
	padding-block-end: var(--size-2);
}
p:not(:last-child) {
	padding-block-end: var(--size-4);
}

.btn {
	--_btn-bg: var(--button-default);

	background-color: var(--_btn-bg);
	border: none;
	border-radius: var(--size-1);
	color: contrast-color(var(--_btn-bg));
	cursor: pointer;
	padding: var(--size-2);
	transition: background-color 0.3s ease;
}
.btn:hover,
.btn:focus-visible {
	--_btn-bg: var(--button-default-hover);
	background-color: var(--_btn-bg);
}
.btn[data-type="btn-primary"] {
	--_btn-bg: var(--button-primary);
	color: var(--color-white);
}
.btn:hover[data-type="btn-primary"],
.btn:focus-visible[data-type="btn-primary"] {
	--_btn-bg: var(--button-primary-hover);
}

/* HEADER STYLES */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--size-2);
	transition: all 0.5s ease-in-out;
}
.fixed-header {
	position: sticky;
	top: 8px;
	background: rgba(from var(--background-primary) r g b / 0.8);
	border-radius: 40px;
	box-shadow: 0 4px 12px rgba(from var(--color-primary) r g b / 0.2);
	padding-inline: var(--size-4);
	max-width: 600px;
	z-index: 1000;
}
.branding {
	display: flex;
	align-items: center;
	gap: var(--size-1);

	svg {
		width: 160px;

		.svg-input-circle,
		.svg-line {
			fill: var(--color-primary);
		}
		.svg-check {
			fill: var(--clr-green-500);
		}
	}
	.name {
		font-size: var(--fs-600);
		font-weight: var(--fw-700);
	}
}
@media (max-width: 680px) {
	.branding {
		svg {
			width: 100px;
		}
		.name {
			font-size: var(--fs-500);
		}
	}
}

/* LAYOUT STYLES */
.sect-container {
	--max-width: var(--container-max-width);
	--padding: calc(var(--container-min-margin-inline) * 2);

	margin-inline: auto;
	width: min(100% - var(--padding), var(--max-width));
}
.sect-container[data-type="narrow"] {
	--max-width: var(--container-max-width-narrow);
}
.sect-container[data-type="wide"] {
	--max-width: var(--container-max-width-wide);
}
.sect-container[data-type="full-bleed"] {
	--max-width: 100%;
	--padding: 1-0;
	background-color: var(--background-secondary);

	div:not(:has(img)) {
		padding-inline: calc(var(--size-4) * 2);
	}
}

.grid-auto-fit {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
	align-items: center;
	justify-content: center;
	gap: var(--size-2);
	margin-block: var(--size-4);
}
.flex-cluster {
	display: flex;
	gap: var(--size-2);
	margin-block: var(--size-4);
	padding-block: var(--size-2);
}
@media (max-width: 680px) {
	.flex-cluster {
		flex-wrap: wrap;
	}
}

.form-container {
	background-color: var(--background-secondary);
	border-radius: var(--size-4);
	box-shadow: 0 4px 12px rgba(from var(--color-primary) r g b / 0.2);
	margin: var(--size-8) auto;
	padding: var(--size-6) var(--size-8);
	/* overflow: hidden; */

	width: 100%;
	max-width: 400px;

	h2 {
		margin-bottom: var(--size-5);
		text-align: center;
	}
	.btn-wide {
		font-size: var(--fs-400);
		margin-block: var(--size-2) var(--size-4);
		padding-block: var(--size-3);
		width: 100%;
	}
}
.form-group {
	margin-bottom: var(--size-5);
	position: relative;

	label {
		display: block;
		font-weight: var(--fw-700);
		margin-bottom: var(--size-1);
	}

	input {
		border: 2px solid rgba(from var(--color-primary) r g b / 0.1);
		border-radius: var(--size-1);
		display: block;
		font-size: var(--fs-400);
		padding: var(--size-2);
		width: 100%;
		transition: border-color 0.3s;
	}
	input:focus {
		border-color: var(--color-frm-default);
		outline: none;
	}

	small {
		visibility: hidden;
		position: absolute;
		bottom: -18px;
		left: 0;
		font-size: var(--fs-300);
	}
}
.form-group.error {
	input {
		border-color: var(--color-frm-error);
	}
	small {
		visibility: visible;
		color: var(--color-frm-error);
	}
}
.form-group.success {
	input {
		border-color: var(--color-frm-success);
	}
}

/* Show/Hide Password toggle styles */
#password:not(:placeholder-shown),
#confirmPassword:not(:placeholder-shown) {
	padding-right: 40px;
}
#password,
#confirmPassword {
	transition: padding-right 0.3s ease;
}
#password:placeholder-shown ~ .toggle-password,
#confirmPassword:placeholder-shown ~ .toggle-password {
	opacity: 0;
	cursor: default;
}
#password:not(:placeholder-shown) ~ .toggle-password,
#confirmPassword:not(:placeholder-shown) ~ .toggle-password {
	opacity: 0.7;
	visibility: visible;
}
#password:not(:placeholder-shown) ~ .toggle-password:hover,
#confirmPassword:not(:placeholder-shown) ~ .toggle-password:hover {
	opacity: 1;
}
/* #password,
#confirmPassword {
	padding-right: 40px;
} */
.toggle-password {
	position: absolute;
	right: 10px;
	top: 56%;
	background: none;
	border: none;
	padding: 0;
	user-select: none;
	outline: none;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease;
}
.toggle-password.eye-show,
.toggle-password.eye-hide {
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-color: currentColor; /* Matches the text color automatically */

	-webkit-mask-size: contain;
	mask-size: contain;
	mask-repeat: no-repeat;
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}
.toggle-password.eye-show {
	-webkit-mask-image: url("/images/eye-pwd-show.svg");
	mask-image: url("/images/eye-pwd-show.svg");
}
.toggle-password.eye-hide {
	-webkit-mask-image: url("/images/eye-pwd-hide.svg");
	mask-image: url("/images/eye-pwd-hide.svg");
}

/* Meter container & bar styles */
input:placeholder-shown ~ .meter-container {
	opacity: 0;
	visibility: hidden;
	transform: translateY(5px);
	transition:
		opacity 0.3s,
		visibility 0.3s,
		transform 0.3s;
}
input:not(:placeholder-shown) ~ .meter-container {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.meter-container {
	position: absolute;
	top: 12px;
	right: 0;

	border: 1px solid rgba(from var(--color-primary) r g b / 0.1);
	border-radius: var(--size-2);
	font-size: var(--fs-200);
	width: 100%;
	max-width: 140px;
	transition: all 0.3s ease;

	::before {
		position: absolute;
		right: 2px;
		top: -18px;
		content: "Strength meter";
		text-transform: uppercase;
	}
}
.meter-bar {
	border: 1px solid;
	border-radius: var(--size-2);
	height: 10px;
	transition: width 0.4s ease;
}
.meter-bar.weak,
.meter-bar.medium,
.meter-bar.strong {
	opacity: 1;
}
.meter-bar.weak {
	background-color: rgba(from var(--color-frm-error) r g b / 0.4);
	border-color: var(--color-frm-error);
	width: 33%;
}
.meter-bar.medium {
	background-color: rgba(from var(--color-frm-med) r g b / 0.4);
	border-color: var(--color-frm-med);
	width: 67%;
}
.meter-bar.strong {
	background-color: rgba(from var(--color-frm-success) r g b / 0.4);
	border-color: var(--color-frm-success);
	width: 100%;
}
